---

# (c) Wong Hoi Sing Edison <hswong3i@pantarei-design.com>
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

apiVersion: v1
kind: Namespace
metadata:
  name: metallb
  labels:
    app.kubernetes.io/name: metallb
    app.kubernetes.io/part-of: metallb
    addonmanager.kubernetes.io/mode: Reconcile

---
apiVersion: policy/v1beta1
kind: PodSecurityPolicy
metadata:
  name: speaker
  namespace: metallb
  labels:
    app.kubernetes.io/name: metallb
    app.kubernetes.io/part-of: metallb
    addonmanager.kubernetes.io/mode: Reconcile
spec:
  allowPrivilegeEscalation: false
  allowedCapabilities:
    - NET_ADMIN
    - NET_RAW
    - SYS_ADMIN
  fsGroup:
    rule: RunAsAny
  hostNetwork: true
  hostPorts:
    - max: 7472
      min: 7472
  privileged: true
  runAsUser:
    rule: RunAsAny
  seLinux:
    rule: RunAsAny
  supplementalGroups:
    rule: RunAsAny
  volumes:
    - '*'

---
apiVersion: v1
kind: ConfigMap
metadata:
  name: config
  namespace: metallb
  labels:
    app.kubernetes.io/name: metallb
    app.kubernetes.io/part-of: metallb
    addonmanager.kubernetes.io/mode: Reconcile
data:
  config: |
{% if metallb_config %}
    {{ metallb_config | to_nice_yaml(indent=2) | indent(4) }}
{%- endif %}

---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: controller
  namespace: metallb
  labels:
    app.kubernetes.io/name: metallb
    app.kubernetes.io/part-of: metallb
    addonmanager.kubernetes.io/mode: Reconcile

---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: speaker
  namespace: metallb
  labels:
    app.kubernetes.io/name: metallb
    app.kubernetes.io/part-of: metallb
    addonmanager.kubernetes.io/mode: Reconcile

---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: metallb-controller
  labels:
    app.kubernetes.io/name: metallb
    app.kubernetes.io/part-of: metallb
    addonmanager.kubernetes.io/mode: Reconcile
rules:
  - apiGroups: [""]
    resources: ["services"]
    verbs: ["get", "list", "watch", "update"]
  - apiGroups: [""]
    resources: ["services/status"]
    verbs: ["update"]
  - apiGroups: [""]
    resources: ["events"]
    verbs: ["create", "patch"]

---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: metallb-speaker
  labels:
    app.kubernetes.io/name: metallb
    app.kubernetes.io/part-of: metallb
    addonmanager.kubernetes.io/mode: Reconcile
rules:
  - apiGroups: [""]
    resources: ["services", "endpoints", "nodes"]
    verbs: ["get", "list", "watch"]
  - apiGroups: [""]
    resources: ["events"]
    verbs: ["create", "patch"]
  - apiGroups: ["extensions"]
    resourceNames: ["speaker"]
    resources: ["podsecuritypolicies"]
    verbs: ["use"]

---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: config-watcher
  namespace: metallb
  labels:
    app.kubernetes.io/name: metallb
    app.kubernetes.io/part-of: metallb
    addonmanager.kubernetes.io/mode: Reconcile
rules:
  - apiGroups: [""]
    resources: ["configmaps"]
    verbs: ["get", "list", "watch"]

---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: metallb-controller
  labels:
    app.kubernetes.io/name: metallb
    app.kubernetes.io/part-of: metallb
    addonmanager.kubernetes.io/mode: EnsureExists
subjects:
  - kind: ServiceAccount
    name: controller
    namespace: metallb
roleRef:
  kind: ClusterRole
  name: metallb-controller
  apiGroup: rbac.authorization.k8s.io

---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: metallb-speaker
  labels:
    app.kubernetes.io/name: metallb
    app.kubernetes.io/part-of: metallb
    addonmanager.kubernetes.io/mode: EnsureExists
subjects:
  - kind: ServiceAccount
    name: speaker
    namespace: metallb
roleRef:
  kind: ClusterRole
  name: metallb-speaker
  apiGroup: rbac.authorization.k8s.io

---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: config-watcher
  namespace: metallb
  labels:
    app.kubernetes.io/name: metallb
    app.kubernetes.io/part-of: metallb
    addonmanager.kubernetes.io/mode: EnsureExists
subjects:
  - kind: ServiceAccount
    name: controller
    namespace: metallb
  - kind: ServiceAccount
    name: speaker
    namespace: metallb
roleRef:
  kind: Role
  name: config-watcher
  apiGroup: rbac.authorization.k8s.io

---
apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: speaker
  namespace: metallb
  labels:
    app.kubernetes.io/name: metallb
    app.kubernetes.io/component: speaker
    app.kubernetes.io/part-of: metallb
    addonmanager.kubernetes.io/mode: Reconcile
spec:
  selector:
    matchLabels:
      app.kubernetes.io/name: metallb
      app.kubernetes.io/component: speaker
      app.kubernetes.io/part-of: metallb
      addonmanager.kubernetes.io/mode: Reconcile
  template:
    metadata:
      labels:
        app.kubernetes.io/name: metallb
        app.kubernetes.io/component: speaker
        app.kubernetes.io/part-of: metallb
        addonmanager.kubernetes.io/mode: Reconcile
      annotations:
        prometheus.io/scrape: "true"
        prometheus.io/port: "7472"
    spec:
      serviceAccountName: speaker
      terminationGracePeriodSeconds: 0
      hostNetwork: true
      dnsPolicy: ClusterFirstWithHostNet
      nodeSelector:
        beta.kubernetes.io/os: linux
      tolerations:
        - effect: NoSchedule
          key: node-role.kubernetes.io/master
      containers:
        - name: speaker
          image: {{ metallb_image_repository }}/metallb/speaker:{{ metallb_version }}
          args:
            - --port=7472
            - --config=config
          env:
            - name: METALLB_NODE_NAME
              valueFrom:
                fieldRef:
                  fieldPath: spec.nodeName
            - name: METALLB_HOST
              valueFrom:
                fieldRef:
                  fieldPath: status.hostIP
          ports:
            - name: monitoring
              containerPort: 7472
          resources:
            limits:
              cpu: 100m
              memory: 100Mi
          securityContext:
            allowPrivilegeEscalation: false
            readOnlyRootFilesystem: true
            capabilities:
              drop:
                - ALL
              add:
                - NET_ADMIN
                - NET_RAW
                - SYS_ADMIN

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: controller
  namespace: metallb
  labels:
    app.kubernetes.io/name: metallb
    app.kubernetes.io/component: controller
    app.kubernetes.io/part-of: metallb
    addonmanager.kubernetes.io/mode: Reconcile
spec:
  revisionHistoryLimit: 3
  selector:
    matchLabels:
      app.kubernetes.io/name: metallb
      app.kubernetes.io/component: controller
      app.kubernetes.io/part-of: metallb
      addonmanager.kubernetes.io/mode: Reconcile
  template:
    metadata:
      labels:
        app.kubernetes.io/name: metallb
        app.kubernetes.io/component: controller
        app.kubernetes.io/part-of: metallb
        addonmanager.kubernetes.io/mode: Reconcile
      annotations:
        prometheus.io/scrape: "true"
        prometheus.io/port: "7472"
    spec:
      serviceAccountName: controller
      terminationGracePeriodSeconds: 0
      securityContext:
        runAsNonRoot: true
        runAsUser: 65534
      nodeSelector:
        beta.kubernetes.io/os: linux
      containers:
        - name: controller
          image: {{ metallb_image_repository }}/metallb/controller:{{ metallb_version }}
          args:
            - --port=7472
            - --config=config
          ports:
            - name: monitoring
              containerPort: 7472
          resources:
            limits:
              cpu: 100m
              memory: 100Mi
          securityContext:
            allowPrivilegeEscalation: false
            readOnlyRootFilesystem: true
            capabilities:
              drop:
                - ALL
